<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs') %>

    <title>Home</title>
</head>

<body>

    <div class="row">
        <div style="margin-right: 0%;" class="col">
            <div class="row row-cols-3" style="justify-content: center;">
                <% for (let i = 0; i < characters.length; i++) { %>
                <div class="col">
                    <div id="card_<%- i %>" class="card" style="width: 17rem;">
                        <p class="character-desc">
                            <%= characters[i].data.firstName %> <%= characters[i].data.lastName %> <br />
                            <%= characters[i].data.alignment %> <br />
                            <%= characters[i].data.race %>
                            <%= characters[i].data._class %> <br />
                            LVL: <%= characters[i].data.level %>
                            EXP: <%= characters[i].data.exp %> <br />
                        </p>

                        <div class="progress">
                            <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                                HP: <%= characters[i].data.hp %> / <%= characters[i].data.hp %>
                            </div>
                        </div>

                        <div class="float-bar-tabs">
                            <button id="features_<%- i %>" type="button" class="btn btn-primary"
                                onclick="openFeatures(id)"><i class="fas fa-book"></i></button>
                        </div>

                        <div class="character-img-parent"><img class="card-img-top" src=" "></div>

                        <div class="card-body">
                            <div class="container">
                                <div class="row" style="text-align: center;">
                                    <div class="col">
                                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                            data-target="#stats_<%= characters[i].data.firstName %>"
                                            aria-expanded="false"
                                            aria-controls="stats_<%= characters[i].data.firstName %>">
                                            Stats
                                        </button>
                                    </div>
                                    <div class="col">
                                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                                            data-target="#skils_<%= characters[i].data.firstName %>"
                                            aria-expanded="false"
                                            aria-controls="skils_<%= characters[i].data.firstName %>">
                                            Skills
                                        </button>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div style="text-align: center;" class="collapse"
                                            id="stats_<%= characters[i].data.firstName %>">
                                            <p>
                                                <% for (let stat in characters[i].data.stats) { %>
                                                <%= stat %>
                                                <%= characters[i].data.stats[stat] %>
                                                <br />
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <div style="text-align: center;" class="collapse"
                                            id="skils_<%= characters[i].data.firstName %>">
                                            <p>
                                                <% for (let skill in characters[i].data.skills) { %>
                                                <%= characters[i].data.skills[skill] %>
                                                <br />
                                                <% } %>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="float-bar-dice"><img style="width: 175%" src="public/images/dice.png" /></div>
                        <div class="float-bar-hitdice">
                            <p>1d<%= characters[i].data.hitdice %></p>
                        </div>

                    </div>
                </div>

                <div id="book_<%= i %>" class="book-popup">
                    <div class="dim-screen"></div>
                    <div class="book">
                        <div class="book-bg"><img src="/public/images/open_book.png" alt=""></div>
                        <div class="class-img"><img src="/public/images/<%= characters[i].data._class %>.png" /></div>
                        <div class="page active">
                            <div class="front">

                                <div style="display: grid">
                                    <span class="page-title"><%= characters[i].data.firstName %></span>
                                    <span class="page-subtitle"><%= characters[i].data.lastName %></span>
                                </div>

                                <hr />
                                <p class="page-content">- Character Backstory -</p>
                            </div>
                            <div style="overflow: auto;" class="back" hidden>
                                <p class="page-title">Class Features</p>
                                <hr />
                                <% index = classes.findIndex(_class => _class.name === characters[i].data._class) %>
                                <div class="row row-cols-3 page-class-features">
                                    <% for (let feature in classes[index].features) { %>
                                    <div class="col">
                                        <div class="page-content">
                                            <%- classes[index].features[feature] %>
                                        </div>
                                    </div>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                        <div class="page">
                            <div class="front" hidden>
                                <p class="page-title">Equipment</p>
                                <hr />
                            </div>
                            <div class="back" hidden>
                                <p class="page-title">4444</p>
                                <hr />
                            </div>
                        </div>
                        <div class="page">
                            <div class="front" hidden>
                                <p class="page-title">55555</p>
                                <hr />
                            </div>
                            <div class="back" hidden>
                                <p class="page-title">666666</p>
                                <hr />
                            </div>
                        </div>
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="col">
            <button class="admin-panel" type="button" onclick="openAdminPanel()">Admin Panel</button>
            <div class="row row-cols-3">
                <% for (let i = 0; i < 10; i++) { %>
                <div class="col">
                    <div id="npc_<%= i %>" class="npc"></div>
                </div>
                <% } %>
            </div>
        </div>
    </div>

    <%- include('partials/scripts.ejs') %>

</body>

</html>

<script>

    $('.npc').click(function (e) {
        if ($(e.target).is('.btn') || $(e.target).is('.fas')){
            this.innerHTML = ''
        }
    })

    function openAdminPanel() {
        const newWidth = window.innerWidth * 0.3
        const newHeight = window.innerHeight
        var adminPanel = window.open(
            "/adminPanel",
            "newWindow",
            `modal=yes, width=${newWidth}, height=${newHeight}`
        )
    }

    function defaultShop(items, shop) {
        for (let item of shop['items']) {
            items += `
            <div class='shop-item' style='margin: .5%; padding: .5%; border: solid 1px;'>
                <span style='font-weight: bold'>${item.name}</span> <br/>
                    ${item.price} GP <br/>
                    ${item.type} <br/>
                <span style='font-style: italic'>${item.subtype}</span> <br/>
            </div>
            `
        }
        return items;
    }
    function refreshShop(selected, shop) {
        let items = ""
        if (selected.value != "") {
            for (let item of shop['items']) {
                if (item['type'] === selected.value) {
                    items += `
                    <div class='shop-item' style='margin: .5%; padding: .5%; border: solid 1px;'>
                        <span style='font-weight: bold'>${item.name}</span> <br/>
                            ${item.price} GP <br/>
                            ${item.type} <br/>
                        <span style='font-style: italic'>${item.subtype}</span> <br/>
                    </div>
                    `
                }
            }
        } else {
            items = defaultShop(items, shop)
        }
        document.getElementById('shop-content').innerHTML = items
    }
    function createNPCCard(npc) {
        let card = `
        <div class="card" style="width: 18rem;">
            <p class="character-desc">
                ${npc.name} <br/>
                ${npc.profession ? npc.profession : ''} 
            </p>
            <div class="float-bar-exit">
                <button class="btn"><i class="fas fa-times-circle fa-lg"></i></button>
            </div>
            <div class="progress">
                <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                    HP: sample/text
                </div>
            </div>
            

            <div class="character-img-parent"><img class="card-img-top" src=" "></div>

            ${addExtraNPCInfo(npc)}
            
        </div>
        `
        return card
    }
    function addExtraNPCInfo(npc) {
        let stats = ``
        let skills = ``
        for (let stat in npc.stats) { stats += `${stat} ${npc.stats[stat]}<br/>` }
        for (let skill of npc.skills) { skills += `${skill}` }
        let extraInfo = ``
        if (npc.alignment === 'Neutral') {
            if (npc.shopID !== '') {
                extraInfo += `
                <div class="float-bar-tabs">
                    <button id="${npc.shopID}" type="button" class="btn btn-primary" data-toggle="modal" data-target="#shop_${npc.shopID}">
                        <i class="fas fa-book"></i>
                    </button>
                </div>
                `
            }
        }
        if (npc.alignment === 'Hostile') {
            extraInfo += `
            <div class="card-body">
                <div class="container">
                    <div class="row" style="text-align: center;">
                        <div class="col">
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#stats_${npc.npcID}"
                                aria-expanded="false"
                                aria-controls="stats_${npc.npcID}">
                                Stats
                            </button>
                        </div>
                        <div class="col">
                            <button class="btn btn-primary" type="button" data-toggle="collapse"
                                data-target="#skils_${npc.npcID}"
                                aria-expanded="false"
                                aria-controls="skils_${npc.npcID}">
                                Skills
                            </button>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <div style="text-align: center;" class="collapse"
                                id="stats_${npc.npcID}">
                                <p>${stats}</p>
                            </div>
                        </div>
                        <div class="col">
                            <div style="text-align: center;" class="collapse"
                                id="skils_${npc.npcID}">
                                <p>${skills}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            `
        }
        return extraInfo
    }
    function createShopModal(shop) {
        let modal = `
        <div class="modal fade" id="shop_${shop.shopID}" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">${shop['name']}</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    
                    <div class="float-bar-shopFilter">
                        <select class="custom-select" onchange="refreshShop(this, ${JSON.stringify(shop).split('"').join("&quot;")} )">
                            <option value="" selected>All</option>
                            <option value="Adventuring Gear">Adventuring Gear</option>
                            <option value="Armor">Armor</option>
                            <option value="Magic Items">Magic Items</option>
                            <option value="Services">Services</option>
                            <option value="Tools">Tools</option>
                            <option value="Weapons">Weapons</option>
                        </select>
                    </div>

                    <div id="shop-content" class="modal-body">
                        ${defaultShop(``, shop)}
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        `
        return modal
    }
    function generateNPC(npcID) {
        $.ajax({
            url: 'npc/' + npcID,
            type: 'GET',
            dataType: 'json',
            success: (data) => {
                // let npc = document.getElementById('npc_0')
                // npc.innerHTML = createNPCCard(data)
                let npc = $('.npc:empty:first')
                if (npc) {
                    npc.append(createNPCCard(data))
                    generateShop(data.shopID)
                }
            }
        })
    }

    function generateShop(shopID) {
        $.ajax({
            url: 'shop/' + shopID,
            type: 'GET',
            dataType: 'json',
            success: (data) => {
                // let npc = document.getElementById('npc_0')
                // npc.innerHTML += createShopModal(data)
                let npc = $('.npc:empty:first')
                npc.append(createShopModal(data))
            }
        })
    }

    /* 
        stat modifier related functions
    */
    function statModifier() {
        let classFeatures = $('.feature-name')
        classFeatures.each((index, value) => {
            if (value.getAttribute('data-content').indexOf('monkDexMod') !== -1) {
                newData = value.getAttribute('data-content').replace('monkDexMod', `test`)
                result = value.setAttribute('data-content', newData)
            }
        })
    }
    function getStatModifier(stat) { return Math.floor((stat - 10) / 2) }

    /* 
        book related functions
    */
    let count = $('.card').length
    for (let i = 0; i < count; i++) {
        $(`#book_${i}`)
            .on('click', `.active`, {
                bookID: i
            }, nextPage)
            .on('click', `.flipped`, {
                bookID: i
            }, prevPage)
    }
    function prevPage(e) {
        let i = e.data.bookID
        const pp = $(`#book_${i} .flipped`)
        pp.last().removeClass('flipped').addClass('active').siblings('.page').removeClass('active')

        // make current front page visible
        pp.last()[0].children[0].hidden = false

        // make current back page hidden
        setTimeout(function () {
            pp.last()[0].children[1].hidden = true
        }, 275)

        // make previous back page visible (if exists)
        if (pp.last()[0].previousElementSibling.classList.contains('page')) {
            pp.last()[0].previousElementSibling.children[1].hidden = false
        }

        // make next front page hidden (if exists)
        if (pp.last()[0].nextElementSibling) {
            setTimeout(function () {
                pp.last()[0].nextElementSibling.children[0].hidden = true
            }, 550)
        }
    }
    function nextPage(e) {
        let i = e.data.bookID
        const np = $(`#book_${i} .active`)
        np.removeClass('active').addClass('flipped').next('.page').addClass('active').siblings()

        // make current front page hidden
        setTimeout(function () {
            np[0].children[0].hidden = true
        }, 275)

        // make current back page visible
        np[0].children[1].hidden = false

        // make previous back page hidden if exists
        if (np.prev()[0].classList.contains('page')) {
            setTimeout(function () {
                np[0].previousElementSibling.children[1].hidden = true
            }, 550)
        }

        // make next front page visible if exists
        if (np.next().length > 0) {
            setTimeout(function () {
                np[0].nextElementSibling.children[0].hidden = false
            }, 275)
        }
    }

    // Listen for 'Escape key' to close character features.
    $(document).on('keydown', function (e) {
        if (e.keyCode === 27) {
            $('.opened-book').attr('style', 'display: none')
            $('.opened-book').removeClass('opened-book')
        }
        // 'a' key
        if (e.keyCode == 65) {
            $('.opened-book > .book > .page.flipped:last').click()
        }
        // 'd' key
        if (e.keyCode == 68) {
            $('.opened-book > .book > .page.active').click()
        }
    })

</script>

</html>