<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs') %>

    <title>Home</title>
</head>

<body>

    <div class="row row-cols-5">
        <% for (let i = 0; i < characters.length; i++) { %>
        <div class="col">
            <div id="card_<%- i %>" class="card" style="width: 18rem;">
                <p class="character-desc">
                    <%= characters[i].data.name %> <br />
                    <%= characters[i].data.alignment %> <br />
                    <%= characters[i].data.race %>
                    <%= characters[i].data._class %> <br />
                    LVL: <%= characters[i].data.level %>
                    EXP: <%= characters[i].data.exp %> <br />
                </p>

                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                        HP: <%= characters[i].data.hp %> / <%= characters[i].data.hp %>
                    </div>
                </div>

                <div class="float-bar-tabs">
                    <button id="features_<%- i %>" type="button" class="btn btn-primary"
                        onclick="openFeatures(id)">Features</button>
                    <button type="button" class="btn btn-primary">Equipment</button>
                    <button type="button" class="btn btn-primary" data-toggle="popover" title="title"
                        data-content="test test">Background</button>
                    <button type="button" class="btn btn-primary">{}</button>
                    <button type="button" class="btn btn-primary">{}</button>
                </div>

                <div class="character-img-parent">
                    <img class="card-img-top" src="<%= characters[i].data.image_url %>">
                </div>

                <div class="card-body">
                    <div class="container">
                        <div class="row" style="text-align: center;">
                            <div class="col">
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#collapseStats_<%= characters[i].id %>" aria-expanded="false"
                                    aria-controls="collapseStats_<%= characters[i].id %>">
                                    Stats
                                </button>
                            </div>
                            <div class="col">
                                <button class="btn btn-primary" type="button" data-toggle="collapse"
                                    data-target="#collapseSkills_<%= characters[i].id %>" aria-expanded="false"
                                    aria-controls="collapseSkills_<%= characters[i].id %>">
                                    Skills
                                </button>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <div style="text-align: center;" class="collapse"
                                    id="collapseStats_<%= characters[i].id %>">
                                    <p>
                                        <% for (let stat in characters[i].data.stats) { %>
                                        <%= stat %>
                                        <%= characters[i].data.stats[stat] %>
                                        <br />
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                            <div class="col">
                                <div style="text-align: center;" class="collapse"
                                    id="collapseSkills_<%= characters[i].id %>">
                                    <p>
                                        <% for (let skill in characters[i].data.skills) { %>
                                        <%= characters[i].data.skills[skill] %>
                                        <br />
                                        <% } %>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="float-bar-dice">
                    <img style="width: 175%" src="public/images/dice.png" />
                </div>
                <div class="float-bar-hitdice">
                    <p>1d<%= characters[i].data.hitdice %></p>
                </div>

            </div>
        </div>

        <div id="book_<%= i %>" class="book-popup">
            <div class="dim-screen"></div>
            <div class="book">
                <div class="book-bg"><img src="/public/images/open_book.png" alt=""></div>
                <div class="class-img">
                    <img src="/public/images/<%= characters[i].data._class %>.png" />

                </div>
                <div class="page active">
                    <div class="front">
                        <p class="page-title"><%= characters[i].data._class %></p>
                        <hr />
                    </div>
                    <div class="back" hidden>
                        <p class="page-title">Class Features</p>
                        <hr />

                        <div class="container">
                            <% index = classes.findIndex(_class => _class.name === characters[i].data._class) %>
                            <div class="row">
                                <% for (let feature in classes[index].features) { %>
                                <div class="col-6">
                                    <div class="page-content flip">
                                        <%- classes[index].features[feature] %>
                                    </div>
                                </div>
                                <% } %>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="page">
                    <div class="front" hidden>
                        <p class="page-title">333</p>
                        <hr />
                    </div>
                    <div class="back" hidden>
                        <p class="page-title">4444</p>
                        </hr>
                    </div>
                </div>
            </div>
        </div>
        <% } %>
    </div>

    <!--  -->



    <!--  -->
    <%- include('partials/scripts.ejs') %>

</body>

<script>

    let count = $('.card').length;

    for (let i = 0; i < count; i++) {
        $(`#book_${i}`)
            .on('click', `.active`, {
                bookID: i
            }, nextPage)
            .on('click', `.flipped`, {
                bookID: i
            }, prevPage)
    }

    function prevPage(e) {
        let i = e.data.bookID
        const pp = $(`#book_${i} .flipped`)
        pp.last().removeClass('flipped').addClass('active').siblings('.page').removeClass('active')

        // make back page hidden
        setTimeout(function () {
            pp.last()[0].children[1].hidden = true
        }, 275)

        // make front page visible
        pp.last()[0].children[0].hidden = false


    }
    function nextPage(e) {
        let i = e.data.bookID
        const np = $(`#book_${i} .active`)
        np.removeClass('active').addClass('flipped').next('.page').addClass('active').siblings()

        // make front page hidden
        setTimeout(function () {
            np[0].children[0].hidden = true
        }, 275)
        // np[0].children[0].hidden = true

        // make back page visible
        np[0].children[1].hidden = false

        // make next front page visible
        if (np.next().length > 0)
            np.next()[0].children[0].hidden = false
    }

    // Listen for 'Escape key' to close character features.
    $(document).on('keydown', function (e) {
        if (e.keyCode === 27) {
            $('.opened-book').attr('style', 'display: none')
        }
    })

// $('#book_1 .flipped')
// $('#book_1 .active')

</script>

</html>