<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%- include('partials/header.ejs') %>

    <title>Home</title>
</head>

<body>

    <% for (let char of characters) {%>
    <div class="card" style="width: 18rem;">

        <p class="character-stats">
            <%= char.data.name %> <br />
            <%= char.data.alignment %> <br />
            <%= char.data.race %>
            <%= char.data._class %> <br />
            LVL: <%= char.data.level %>
            EXP: <%= char.data.exp %> <br />
            Hitdice: 1d<%= char.data.hitdice %>
        </p>

        <div class="progress" style="margin-left: 1vw;">
            <div class="progress-bar bg-success" role="progressbar" style="width: 100%">
                <%= char.data.hp %> / <%= char.data.hp %> 
            </div>
        </div>

        <div class="float-bar-right">
            <button type="button" class="btn btn-primary">Features</button>
            <button type="button" class="btn btn-primary">Equipment</button>
            <button type="button" class="btn btn-primary" data-toggle="popover" title="title"
                data-content="test test">Background</button>
            <button type="button" class="btn btn-primary">{}</button>
            <button type="button" class="btn btn-primary">{}</button>
        </div>

        <div class="character-img-parent">
            <img class="card-img-top" src="<%= char.data.image_url %>">
        </div>
        
        <div class="card-body">
            <div class="container">
                <div class="row" style="text-align: center;">
                    <div class="col">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseStats" aria-expanded="false" aria-controls="collapseStats">
                            Stats
                        </button>
                    </div>
                    <div class="col">
                        <button class="btn btn-primary" type="button" data-toggle="collapse"
                            data-target="#collapseSkills" aria-expanded="false" aria-controls="collapseSkills">
                            Skills
                        </button>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <div style="margin-top: .5vw; text-align: center;" class="collapse" id="collapseStats">
                            <p>
                                <% for (let stat in char.data.stats) { %>
                                <%= stat %>
                                <%= char.data.stats[stat] %>
                                <br />
                                <% } %>
                            </p>
                        </div>
                    </div>
                    <div class="col">
                        <div style="margin-top: .5vw; text-align: center;" class="collapse" id="collapseSkills">
                            <p><%= char.data.skills %></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <% } %>

    <%- include('partials/scripts.ejs') %>
</body>

<script>
    $(function () {
        $('[data-toggle="popover"]').popover()
    })
</script>